<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
  <h1>Sign Up bellow</h1>

  {% for message in messages %}
    <h5 style="color:red">{{ message }}</h5>
  {% endfor %}

  <form action="register" method="POST">
    {% csrf_token %}

    <input type="text" placeholder="username" name="username"><br>
    <input type="text" placeholder="email" name="email"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="password" placeholder="repeat password" name="password2"><br>
    <button>Sign In</button>
  </form>
</body>
</html>